:root {
  /* radius */
  --borders--radius--none: 0px;
  --borders--radius--sXXS: 4px;
  --borders--radius--sXS: 6px;
  --borders--radius--small: 8px;
  --borders--radius--medium: 15px;
  --borders--radius--large: 20px;
  --borders--radius--xl: 24px;
  --borders--radius--xxl: 27px;
  --borders--radius--huge: 30px;
  --borders--radius--giant: 40px;

  /* width */
  --borders--width--none: 0px;
  --borders--width--sXXS: 0.5px;
  --borders--width--sXS: 1px;
  --borders--width--small: 2px;
  --borders--width--medium: 3px;
}
